:root {
  --primary-color: #e7cddc;
  --secondary-color: #c1a1b0;
  --dark-color: #5d4a66;
  --background-color: #f1f1f1;

  --font-family: system-ui, -apple-system, BlinkMacSystemFont, Roboto, Oxygen,
    Ubuntu, Cantarell, "Helvetica Neue";
  --font-color: #101010;
  --desktop-f-size: 1.2rem;
  --mobile-f-size: 1rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}
body {
  font-family: var(--font-family);
  background-color: var(--background-color);
  min-height: 100vh;

  font-size: var(--desktop-f-size);
  color: var(--font-color);
}
header {
  background-color: var(--primary-color);
  text-align: center;
  padding: 1rem 0;
}
main {
  margin: 0.5rem;
}
footer {
  padding: 1rem 0;
  background-color: var(--primary-color);
  text-align: center;
  font-size: 1rem;
}

/* Animaciones */
.loader {
  border: 8px solid var(--secondary-color);
  border-top: 8px solid var(--dark-color);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: girar 1s linear infinite;
  margin: 30px auto;
  padding: auto 0;
}

@keyframes girar {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hidden {
  display: none;
}

/* MEDIAQUERIES */
/* Mobile */
@media (600px > width) {
}
